.b-1{
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 8px;
    padding: 20px 3%;
    margin: 5px;
}
.b-2{
    border: 1px dashed #28a745;
    border-radius: 8px;
    padding: 20px 3%;
    margin: 50px;
}
h2 span:hover{
    padding-bottom: 5px;
    border-bottom: #28a745 solid 1px ;
    cursor: pointer;
}
@media(max-width:768px){
    .b-1{
        border: none;
    }
}