img{
    display: table;
    border-radius: 10px;
}
.text-black{
    color: #000;
}
.text-dg{
    color:  #16874c;
}
.s-sec, .s-white, .s-black{
    padding: 110px 0;
}
@media(max-width:540px){
    .s-white, .s-black{
        text-align: center;
    }
    .side-bar{
        display: none;
    }
    .sections{
        margin: 0;
    }
    .lead{
        font-size: small;
    }
}