body::before{
    display: block;
    height: 60px;
    content: '';
    background-color: #28a745;
}
*{
    border:none;
}
nav{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
div img{
    border: solid 8px rgba(0, 0, 0, 0.96);
    padding: 5px;
    min-height: 230px;
}
h5 img{
    width: 20px;
}
.bg-darkgreen{
    background-color: #16874c;
}
.bg-black{
    background: black;
    color: #fff;
}
.btn{
    border: none;
    border-radius: 15px;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.btn:hover{
    color: #16874c;
}
.sections{
    margin-left: 5%;
}
.ml{
    margin-left: 0%;
}
.none{
    display: none;
}
.side-bar{
    position: fixed;
    width: 5%;
    height: 100%;
    padding-top: 10%;
}
.success{
    background-color:  #16874c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.text-cursive{
    font-family: cursive;
}
.text-fantasy{
    font-family: fantasy;
}
.img-sqr{
    display: table;
    margin: 20px auto;
    border:8px double #28a745 !important;
    border-radius:35% 10%;
    max-height: 420px;
}
.img-3{
    margin: 10px 15%;
    width: 70%;
    border-radius: 8%;
    background-color: #16874c;
    border:solid white 3px;
    
}
body, .btn{
    transition: background-color , 1.2s;
}
.changeTheme{
    background-color: #fff;
    color: #000;
}   
.slider{
    display: table;
    width: 300px;
    margin: 0 auto;
    border: 1px solid black;
    height: 300px;
    display: flex;
    overflow-x: auto;
}
.slide{
    width: 100%;
    flex-shrink: 0;
    height: 100%;
    background-color: #28a745;   
}
.img-1{
    max-height: 520px;
    display: table;
    margin: 10px auto;
    border: none;
    border-radius: 5%;
}
.img-2{
    max-height: 250px;
    display: table;
    margin: 10px auto;
    border: none;
    border-radius: 10px;
}
.ff{
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.3rem;
}