body::before{
    display: block;
    height: 60px;
    content: '';
    background-color: #28a745;
}
body, .btn{
    transition: background-color , 1.2s;
}
*{
    border:none;
}
a{
    color: none;
    text-decoration:none;

}
blockquote::before{
    content: open-quote;
}
blockquote::after{
    content: close-quote;
}
blockquote::after, blockquote::before{
    display: inline-block;
    vertical-align: bottom;
    color: lightgray;
    font-size: 2em;
    top: .3em;
    position: relative;
}
li{
    text-decoration: none;
    padding: 0 0.5rem;
}
nav,    .ff-2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', Lucida Grande, Lucida Sans, sans-serif;
}
h5 img{
    width: 20px;
}
.activee, .dot:hover {
    background-color: #bbb;
}
.bg-darkgreen{
    background-color: #16874c;
}
.bg-black{
    background: rgb(0, 0, 0);
    color: #fff;
}
.btn{
    
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     padding:10px 20px;
}
.btn:hover{
    color: #16874c;
    border-radius: 15px;
    cursor: pointer;
}
.sections{
    margin-left:50px;
}
.ml{
    margin-left: 0%;
}
.none{
    display: none;
}
.side-bar{
    position: fixed;
    width: 50px;
    height: 100%;
    padding-top: 10%;
}
.success{
    background-color:  #16874c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: grabbing;
    
}
.text-cursive{
    font-family: cursive;
}
.text-fantasy{
    font-family: fantasy;
}
.img-sqr{
    display: table;
    margin: 20px auto;
    border:8px double #28a745 !important;
    border-radius:35% 10%;
    max-height: 420px;
}
.img-border{
    border: solid 8px rgba(0, 0, 0, 0.7);
    padding: 5px;
    min-height: 230px;
}
.changeTheme{
    background-color: #fff;
    color: #000;
}
.ff{
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.3rem;
}
.tag{
    border-radius: 10px;
    color: #fff;
}
.underline:hover, .clicked{
    padding-bottom: 5px;
    border-bottom: #fff solid 1px;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 3.9s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media (max-width:767px){
    .none{
        display:block;
    }
    .sections{
        margin-left: 50px;
    }
    .contact{
        display: none;
    }
}
@media (max-width:800px){
    li{
        padding: 0;
        
    }
}