@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@100&family=Raleway:wght@200&display=swap');
*
{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
body::before{
    display: block;
    height: 60px;
    content: '';
    background-color: #28a745;
}
body, .btn{
    transition: all, 1s;
}
a{
    color: none;
    text-decoration:none;

}
blockquote::before{
    content: open-quote;
}
blockquote::after{
    content: close-quote;
}
blockquote::after, blockquote::before{
    display: inline-block;
    vertical-align: bottom;
    color: lightgray;
    font-size: 2em;
    top: .3em;
    position: relative;
}
li{
    text-decoration: none;
    padding: 0 0.5rem;
}
nav,    .ff-2{
    font-family: 'Livvic', sans-serif;
}
h5 img{
    width: 20px;
}
.activee, .dot:hover {
    background-color: #bbb;
}
.bg-darkgreen{
    background-color: #16874c;
}
.bg-black{
    background: rgb(0, 0, 0);
    color: #fff;
}
.bolder:hover{
    font-weight: bolder;
}
.btn{
    padding: 10px 20px;
}
.btn:hover{
    color: #16874c;
    border-radius: 25px;
    cursor: pointer;
    animation-name: dangle;
    animation-delay: 1s;
    animation-duration: .5s;
    animation-iteration-count: 5;
}
.changeTheme{
    background-color: #fff;
    color: #000;
    font-weight:600;
}
.sections{
    margin-left:50px;
}
.f-600{
    font-weight: 600;
}
.ml{
    margin-left: 0%;
}
.none{
    display: none;
}
.side-bar{
    position: fixed;
    width: 50px;
    height: 100%;
    padding-top: 10%;
}
.success{
    background-color:  #16874c;
    cursor: grabbing;
    
}
.text-normal{
    font-weight: normal;
}
.clicked{
    font-weight: bolder;
}
.img-sqr{
    display: table;
    margin: 20px auto;
    border:8px double #28a745 !important;
    border-radius:35% 10%;
    max-height: 420px;
}
.img-border{
    border: solid 8px rgba(0, 0, 0, 0.7);
    padding: 5px;
    min-height: 230px;
}
.tag{
    border-radius: 10px;
    color: #fff;
}

@media (max-width:767px){
    .none{
        display:block;
    }
    .sections{
        margin-left: 50px;
    }
    .contact{
        display: none;
    }
}
@media (max-width:800px){
    li{
        padding: 0;
        
    }
}
@keyframes dangle{
    0%{
        transform: rotate(0deg);
    }
    20%{
        transform: rotate(7deg);
    }
    40%{
        transform: rotate(5deg);
    }
    80%{
        transform: rotate(-7deg);
    }
    100%{
        transform: rotate(0deg);
    }
}